@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<!DOCTYPE html>
<html>
<body>
    <br />
    <br />
    <p>
        This web application functions as a means to provide student resources. The web app allows student to visit the homepage to
        login to their <br />accounts and add or drop courses from their schedules. Student are also given the option to create an account.
        All available courses are available to be <br />viewed on the home page.
    </p>
</body>
</html>