@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    912 Gazetta Way<br />
    West Palm Beach, FL 55555-5555<br />
    <abbr title="Phone">P:</abbr>
    561.214.2033
</address>

<address>
    <strong>Support:</strong> <a href="mailto:tjoseph0696@gmail.com">tjoseph0696@gmail.com</a><br />
</address>
