@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Login";
}
<!DOCTYPE html>
<html>
<head>
    <style>
        
    </style>
</head>
<body>
    <div>
        <h1>Student Login</h1>
        <h3>Welcome to the Student Login Page! To login enter your student email and password:</h3>
        <form>
            <br />
            Student email : <input type="email" name="studentemail@cc.com" />
            <br />
            <br />

            Password :   <input type="text" name="" />
        </form>
        <button type="submit">Login</button>
    </div>

    <div>
        <br />
        <a href="">Forgot password?</a>
        <br />
        <a href="">Forgot user name?</a>
        <br />
        
        <a href="https://localhost:44320/Home/SignUp">Create a new account</a>
    </div>
</body>
</html>