@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "SignUp";
}
<!DOCTYPE html>
<html>
<head>
    <style>

    </style>
</head>
<body>
    <div>
        <h1>Sign Up for Student Account</h1>
        <form>
            Student ID: <input type="text" name="" />
            Student Email: <input type="text" name="studentemail@cc.com" />
            New Password: <input type="text" />
            Enter New Password: <input type="text" />
         </form>
         <button type="submit">Register</button>
        <a href="https://localhost:44320/Home/Login">Already have a student account? Login</a>
    </div>
</body>
</html>